<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sxau.pblog.mapper.TitleMapper">
    <resultMap id="BaseResultMap" type="com.sxau.pblog.pojo.Title">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="articleName" property="articlename" jdbcType="CHAR"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="articleImg" property="articleimg" jdbcType="CHAR"/>
        <result column="isShow" property="isshow" jdbcType="CHAR"/>
        <result column="readNum" property="readnum" jdbcType="INTEGER"/>
        <result column="date" property="date" jdbcType="DATE"/>
        <result column="category" property="category" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.sxau.pblog.pojo.Title" extends="BaseResultMap">
        <result column="articleContent" property="articlecontent" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    id, articleName, sort, articleImg, isShow, readNum, date, category
  </sql>
    <sql id="Blob_Column_List">
    articleContent
  </sql>
    <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.sxau.pblog.pojo.Title">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from title
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>

    <!--分页-->
    <select id="selectTitleByTitleName" parameterType="java.lang.String" resultMap="BaseResultMap">
        SELECT *
        FROM title
        WHERE 1 = 1
        <if test="titleName != null and titleName !=''">
            AND articleName = #{titleName,jdbcType=VARCHAR}
        </if>
        ORDER BY ID
    </select>
    <!--分页-->

    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sxau.pblog.pojo.TitleExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from title
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from title
        where id = #{id,jdbcType=INTEGER}
    </select>

    <!--start查询文章每月总数-->
    <select id="selectAdminTitleTotal" resultType="com.sxau.pblog.pojo.AdminTotal"
            parameterType="com.sxau.pblog.pojo.Admin">
--       select count(*) as adminCount,DATE_FORMAT(date,'%Y-%m') as adminDate from title group by DATE_FORMAT(date,'%Y-%m');
      select count(*) as adminTitleCount,date as adminTitleDate from title group by DATE_FORMAT(date,'%Y-%m');
    </select>

    <!--start 查询不同分类下的文章总数-->
    <select id="selectTitleCountOfCate" resultType="com.sxau.pblog.pojo.AdminTotal">
        select COUNT(*) AS  cateTitleCount ,category as cateName from title group by category;
    </select>
    <!--end 查询不同分类下的文章总数-->

    <!--end查询文章每月总数-->
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from title
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.sxau.pblog.pojo.TitleExample">
        delete from title
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.sxau.pblog.pojo.Title">
    insert into title (id, articleName, sort, 
      articleImg, isShow, readNum, 
      date, category, articleContent
      )
    values (#{id,jdbcType=INTEGER}, #{articlename,jdbcType=CHAR}, #{sort,jdbcType=INTEGER}, 
      #{articleimg,jdbcType=CHAR}, #{isshow,jdbcType=CHAR}, #{readnum,jdbcType=INTEGER},
      #{date,jdbcType=DATE}, #{category,jdbcType=CHAR}, #{articlecontent,jdbcType=LONGVARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.sxau.pblog.pojo.Title">
        insert into title
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="articlename != null">
                articleName,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="articleimg != null">
                articleImg,
            </if>
            <if test="isshow != null">
                isShow,
            </if>
            <if test="readnum != null">
                readNum,
            </if>
            <if test="date != null">
                date,
            </if>
            <if test="category != null">
                category,
            </if>
            <if test="articlecontent != null">
                articleContent,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="articlename != null">
                #{articlename,jdbcType=CHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="articleimg != null">
                #{articleimg,jdbcType=CHAR},
            </if>
            <if test="isshow != null">
                #{isshow,jdbcType=CHAR},
            </if>
            <if test="readnum != null">
                #{readnum,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                #{date,jdbcType=DATE},
            </if>
            <if test="category != null">
                #{category,jdbcType=CHAR},
            </if>
            <if test="articlecontent != null">
                #{articlecontent,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.sxau.pblog.pojo.TitleExample" resultType="java.lang.Integer">
        select count(*) from title
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update title
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=INTEGER},
            </if>
            <if test="record.articlename != null">
                articleName = #{record.articlename,jdbcType=CHAR},
            </if>
            <if test="record.sort != null">
                sort = #{record.sort,jdbcType=INTEGER},
            </if>
            <if test="record.articleimg != null">
                articleImg = #{record.articleimg,jdbcType=CHAR},
            </if>
            <if test="record.isshow != null">
                isShow = #{record.isshow,jdbcType=CHAR},
            </if>
            <if test="record.readnum != null">
                readNum = #{record.readnum,jdbcType=INTEGER},
            </if>
            <if test="record.date != null">
                date = #{record.date,jdbcType=DATE},
            </if>
            <if test="record.category != null">
                category = #{record.category,jdbcType=CHAR},
            </if>
            <if test="record.articlecontent != null">
                articleContent = #{record.articlecontent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExampleWithBLOBs" parameterType="map">
        update title
        set id = #{record.id,jdbcType=INTEGER},
        articleName = #{record.articlename,jdbcType=CHAR},
        sort = #{record.sort,jdbcType=INTEGER},
        articleImg = #{record.articleimg,jdbcType=CHAR},
        isShow = #{record.isshow,jdbcType=CHAR},
        readNum = #{record.readnum,jdbcType=INTEGER},
        date = #{record.date,jdbcType=DATE},
        category = #{record.category,jdbcType=CHAR},
        articleContent = #{record.articlecontent,jdbcType=LONGVARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update title
        set id = #{record.id,jdbcType=INTEGER},
        articleName = #{record.articlename,jdbcType=CHAR},
        sort = #{record.sort,jdbcType=INTEGER},
        articleImg = #{record.articleimg,jdbcType=CHAR},
        isShow = #{record.isshow,jdbcType=CHAR},
        readNum = #{record.readnum,jdbcType=INTEGER},
        date = #{record.date,jdbcType=DATE},
        category = #{record.category,jdbcType=CHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.sxau.pblog.pojo.Title">
        update title
        <set>
            <if test="articlename != null">
                articleName = #{articlename,jdbcType=CHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="articleimg != null">
                articleImg = #{articleimg,jdbcType=CHAR},
            </if>
            <if test="isshow != null">
                isShow = #{isshow,jdbcType=CHAR},
            </if>
            <if test="readnum != null">
                readNum = #{readnum,jdbcType=INTEGER},
            </if>
            <if test="date != null">
                date = #{date,jdbcType=DATE},
            </if>
            <if test="category != null">
                category = #{category,jdbcType=CHAR},
            </if>
            <if test="articlecontent != null">
                articleContent = #{articlecontent,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.sxau.pblog.pojo.Title">
    update title
    set articleName = #{articlename,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      articleImg = #{articleimg,jdbcType=CHAR},
      isShow = #{isshow,jdbcType=CHAR},
      readNum = #{readnum,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      category = #{category,jdbcType=CHAR},
      articleContent = #{articlecontent,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.sxau.pblog.pojo.Title">
    update title
    set articleName = #{articlename,jdbcType=CHAR},
      sort = #{sort,jdbcType=INTEGER},
      articleImg = #{articleimg,jdbcType=CHAR},
      isShow = #{isshow,jdbcType=CHAR},
      readNum = #{readnum,jdbcType=INTEGER},
      date = #{date,jdbcType=DATE},
      category = #{category,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>