* {
    /*background-color: #ffffff;*/
}

td {
    width: 85px;
    overflow: hidden;
}

iframe {
    border-width: 0px;
    border-style: none;
    border-color: snow;
    border-image: none;
}

#cms_login {
    /*background: url("../images/login_two.jpg") no-repeat;*/
}
#cms{
    background-color: rgba(0, 0, 0, 0.4);
}

#d_title {
    display: none;
}

#i_title {
    display: none;
}

#d_category {
    display: none;
}

#i_category {
    display: none;
}

#u_title {
    display: none;
}

#u_c_category {
    display: none;
}

/*
#p_default{
    display: none;
}*/
